aiohappyeyeballs==2.4.3 ; python_version >= "3.12" and python_version < "3.13"
aiohttp==3.10.10 ; python_version >= "3.12" and python_version < "3.13"
aiosignal==1.3.1 ; python_version >= "3.12" and python_version < "3.13"
alembic==1.14.0 ; python_version >= "3.12" and python_version < "3.13"
anyio==4.6.2.post1 ; python_version >= "3.12" and python_version < "3.13"
apache-airflow-providers-common-compat==1.2.1 ; python_version >= "3.12" and python_version < "3.13"
apache-airflow-providers-common-io==1.4.2 ; python_version >= "3.12" and python_version < "3.13"
apache-airflow-providers-common-sql==1.19.0 ; python_version >= "3.12" and python_version < "3.13"
apache-airflow-providers-fab==1.5.0 ; python_version >= "3.12" and python_version < "3.13"
apache-airflow-providers-ftp==3.11.1 ; python_version >= "3.12" and python_version < "3.13"
apache-airflow-providers-http==4.13.2 ; python_version >= "3.12" and python_version < "3.13"
apache-airflow-providers-imap==3.7.0 ; python_version >= "3.12" and python_version < "3.13"
apache-airflow-providers-smtp==1.8.0 ; python_version >= "3.12" and python_version < "3.13"
apache-airflow-providers-sqlite==3.9.0 ; python_version >= "3.12" and python_version < "3.13"
apache-airflow==2.10.3 ; python_version >= "3.12" and python_version < "3.13"
apispec[yaml]==6.7.1 ; python_version >= "3.12" and python_version < "3.13"
argcomplete==3.5.1 ; python_version >= "3.12" and python_version < "3.13"
asgiref==3.8.1 ; python_version >= "3.12" and python_version < "3.13"
attrs==24.2.0 ; python_version >= "3.12" and python_version < "3.13"
babel==2.16.0 ; python_version >= "3.12" and python_version < "3.13"
beautifulsoup4==4.12.3 ; python_version >= "3.12" and python_version < "3.13"
biopython==1.84 ; python_version >= "3.12" and python_version < "3.13"
blinker==1.8.2 ; python_version >= "3.12" and python_version < "3.13"
breadability==0.1.20 ; python_version >= "3.12" and python_version < "3.13"
cachelib==0.9.0 ; python_version >= "3.12" and python_version < "3.13"
certifi==2024.8.30 ; python_version >= "3.12" and python_version < "3.13"
cffi==1.17.1 ; python_version >= "3.12" and python_version < "3.13" and platform_python_implementation != "PyPy"
chardet==5.2.0 ; python_version >= "3.12" and python_version < "3.13"
charset-normalizer==3.4.0 ; python_version >= "3.12" and python_version < "3.13"
click==8.1.7 ; python_version >= "3.12" and python_version < "3.13"
clickclick==20.10.2 ; python_version >= "3.12" and python_version < "3.13"
colorama==0.4.6 ; python_version >= "3.12" and python_version < "3.13"
colorlog==6.9.0 ; python_version >= "3.12" and python_version < "3.13"
configupdater==3.2 ; python_version >= "3.12" and python_version < "3.13"
connexion[flask]==2.14.2 ; python_version >= "3.12" and python_version < "3.13"
contourpy==1.3.0 ; python_version >= "3.12" and python_version < "3.13"
cron-descriptor==1.4.5 ; python_version >= "3.12" and python_version < "3.13"
croniter==5.0.1 ; python_version >= "3.12" and python_version < "3.13"
cryptography==43.0.3 ; python_version >= "3.12" and python_version < "3.13"
cycler==0.12.1 ; python_version >= "3.12" and python_version < "3.13"
cython==3.0.11 ; python_version >= "3.12" and python_version < "3.13"
dawg-python==0.7.2 ; python_version >= "3.12" and python_version < "3.13"
deprecated==1.2.14 ; python_version >= "3.12" and python_version < "3.13"
dill==0.3.9 ; python_version >= "3.12" and python_version < "3.13"
django==5.1.3 ; python_version >= "3.12" and python_version < "3.13"
djangorestframework==3.15.2 ; python_version >= "3.12" and python_version < "3.13"
dnspython==2.7.0 ; python_version >= "3.12" and python_version < "3.13"
docopt==0.6.2 ; python_version >= "3.12" and python_version < "3.13"
email-validator==2.2.0 ; python_version >= "3.12" and python_version < "3.13"
factory-boy==3.3.1 ; python_version >= "3.12" and python_version < "3.13"
faker==30.8.2 ; python_version >= "3.12" and python_version < "3.13"
fasttext==0.9.3 ; python_version >= "3.12" and python_version < "3.13"
flask-appbuilder==4.5.2 ; python_version >= "3.12" and python_version < "3.13"
flask-babel==2.0.0 ; python_version >= "3.12" and python_version < "3.13"
flask-caching==2.3.0 ; python_version >= "3.12" and python_version < "3.13"
flask-jwt-extended==4.6.0 ; python_version >= "3.12" and python_version < "3.13"
flask-limiter==3.8.0 ; python_version >= "3.12" and python_version < "3.13"
flask-login==0.6.3 ; python_version >= "3.12" and python_version < "3.13"
flask-session==0.5.0 ; python_version >= "3.12" and python_version < "3.13"
flask-sqlalchemy==2.5.1 ; python_version >= "3.12" and python_version < "3.13"
flask-wtf==1.2.2 ; python_version >= "3.12" and python_version < "3.13"
flask==2.2.5 ; python_version >= "3.12" and python_version < "3.13"
fonttools==4.54.1 ; python_version >= "3.12" and python_version < "3.13"
frozenlist==1.5.0 ; python_version >= "3.12" and python_version < "3.13"
fsspec==2024.10.0 ; python_version >= "3.12" and python_version < "3.13"
gensim==4.3.3 ; python_version >= "3.12" and python_version < "3.13"
google-re2==1.1.20240702 ; python_version >= "3.12" and python_version < "3.13"
googleapis-common-protos==1.65.0 ; python_version >= "3.12" and python_version < "3.13"
greenlet==3.1.1 ; python_version >= "3.12" and (platform_machine == "aarch64" or platform_machine == "ppc64le" or platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "AMD64" or platform_machine == "win32" or platform_machine == "WIN32") and python_version < "3.13"
grpcio==1.67.1 ; python_version >= "3.12" and python_version < "3.13"
gunicorn==23.0.0 ; python_version >= "3.12" and python_version < "3.13"
h11==0.14.0 ; python_version >= "3.12" and python_version < "3.13"
httpcore==1.0.6 ; python_version >= "3.12" and python_version < "3.13"
httpx==0.27.2 ; python_version >= "3.12" and python_version < "3.13"
hypothesis==6.116.0 ; python_version >= "3.12" and python_version < "3.13"
idna==3.10 ; python_version >= "3.12" and python_version < "3.13"
imageio==2.36.0 ; python_version >= "3.12" and python_version < "3.13"
importlib-metadata==8.5.0 ; python_version >= "3.12" and python_version < "3.13"
importlib-resources==6.4.5 ; python_version >= "3.12" and python_version < "3.13"
inflection==0.5.1 ; python_version >= "3.12" and python_version < "3.13"
iniconfig==2.0.0 ; python_version >= "3.12" and python_version < "3.13"
itsdangerous==2.2.0 ; python_version >= "3.12" and python_version < "3.13"
jinja2==3.1.4 ; python_version >= "3.12" and python_version < "3.13"
jmespath==1.0.1 ; python_version >= "3.12" and python_version < "3.13"
joblib==1.4.2 ; python_version >= "3.12" and python_version < "3.13"
jsonschema-specifications==2024.10.1 ; python_version >= "3.12" and python_version < "3.13"
jsonschema==4.23.0 ; python_version >= "3.12" and python_version < "3.13"
kiwisolver==1.4.7 ; python_version >= "3.12" and python_version < "3.13"
lazy-loader==0.4 ; python_version >= "3.12" and python_version < "3.13"
lazy-object-proxy==1.10.0 ; python_version >= "3.12" and python_version < "3.13"
limits==3.13.0 ; python_version >= "3.12" and python_version < "3.13"
linkify-it-py==2.0.3 ; python_version >= "3.12" and python_version < "3.13"
lockfile==0.12.2 ; python_version >= "3.12" and python_version < "3.13"
lxml==5.3.0 ; python_version >= "3.12" and python_version < "3.13"
mako==1.3.6 ; python_version >= "3.12" and python_version < "3.13"
markdown-it-py==3.0.0 ; python_version >= "3.12" and python_version < "3.13"
markupsafe==3.0.2 ; python_version >= "3.12" and python_version < "3.13"
marshmallow-oneofschema==3.1.1 ; python_version >= "3.12" and python_version < "3.13"
marshmallow-sqlalchemy==0.28.2 ; python_version >= "3.12" and python_version < "3.13"
marshmallow==3.23.1 ; python_version >= "3.12" and python_version < "3.13"
matplotlib==3.9.2 ; python_version >= "3.12" and python_version < "3.13"
mdit-py-plugins==0.4.2 ; python_version >= "3.12" and python_version < "3.13"
mdurl==0.1.2 ; python_version >= "3.12" and python_version < "3.13"
methodtools==0.4.7 ; python_version >= "3.12" and python_version < "3.13"
more-itertools==10.5.0 ; python_version >= "3.12" and python_version < "3.13"
mpmath==1.3.0 ; python_version >= "3.12" and python_version < "3.13"
multidict==6.1.0 ; python_version >= "3.12" and python_version < "3.13"
myhdl==0.11.49 ; python_version >= "3.12" and python_version < "3.13"
mysqlclient==2.2.5 ; python_version >= "3.12" and python_version < "3.13"
networkx==3.4.2 ; python_version >= "3.12" and python_version < "3.13"
nltk==3.9.1 ; python_version >= "3.12" and python_version < "3.13"
numpy==1.26.4 ; python_version >= "3.12" and python_version < "3.13"
opencv-python-headless==4.10.0.84 ; python_version >= "3.12" and python_version < "3.13"
opentelemetry-api==1.28.0 ; python_version >= "3.12" and python_version < "3.13"
opentelemetry-exporter-otlp-proto-common==1.28.0 ; python_version >= "3.12" and python_version < "3.13"
opentelemetry-exporter-otlp-proto-grpc==1.28.0 ; python_version >= "3.12" and python_version < "3.13"
opentelemetry-exporter-otlp-proto-http==1.28.0 ; python_version >= "3.12" and python_version < "3.13"
opentelemetry-exporter-otlp==1.28.0 ; python_version >= "3.12" and python_version < "3.13"
opentelemetry-proto==1.28.0 ; python_version >= "3.12" and python_version < "3.13"
opentelemetry-sdk==1.28.0 ; python_version >= "3.12" and python_version < "3.13"
opentelemetry-semantic-conventions==0.49b0 ; python_version >= "3.12" and python_version < "3.13"
ordered-set==4.1.0 ; python_version >= "3.12" and python_version < "3.13"
packaging==24.1 ; python_version >= "3.12" and python_version < "3.13"
pandas==2.2.3 ; python_version >= "3.12" and python_version < "3.13"
pathspec==0.12.1 ; python_version >= "3.12" and python_version < "3.13"
pendulum==3.0.0 ; python_version >= "3.12" and python_version < "3.13"
pillow==11.0.0 ; python_version >= "3.12" and python_version < "3.13"
pluggy==1.5.0 ; python_version >= "3.12" and python_version < "3.13"
prison==0.2.1 ; python_version >= "3.12" and python_version < "3.13"
propcache==0.2.0 ; python_version >= "3.12" and python_version < "3.13"
protobuf==5.28.3 ; python_version >= "3.12" and python_version < "3.13"
psutil==6.1.0 ; python_version >= "3.12" and python_version < "3.13"
pyasn1==0.6.1 ; python_version >= "3.12" and python_version < "3.13"
pybind11==2.13.6 ; python_version >= "3.12" and python_version < "3.13"
pycosat==0.6.6 ; python_version >= "3.12" and python_version < "3.13"
pycountry==24.6.1 ; python_version >= "3.12" and python_version < "3.13"
pycparser==2.22 ; python_version >= "3.12" and python_version < "3.13" and platform_python_implementation != "PyPy"
pygments==2.18.0 ; python_version >= "3.12" and python_version < "3.13"
pyjwt==2.9.0 ; python_version >= "3.12" and python_version < "3.13"
pymorphy2-dicts-ru==2.4.417127.4579844 ; python_version >= "3.12" and python_version < "3.13"
pymorphy2==0.9.1 ; python_version >= "3.12" and python_version < "3.13"
pymystem3==0.2.0 ; python_version >= "3.12" and python_version < "3.13"
pyparsing==3.2.0 ; python_version >= "3.12" and python_version < "3.13"
pysqlite3-binary==0.5.4 ; python_version >= "3.12" and python_version < "3.13"
pytest==8.3.3 ; python_version >= "3.12" and python_version < "3.13"
python-daemon==3.1.0 ; python_version >= "3.12" and python_version < "3.13"
python-dateutil==2.9.0.post0 ; python_version >= "3.12" and python_version < "3.13"
python-nvd3==0.16.0 ; python_version >= "3.12" and python_version < "3.13"
python-slugify==8.0.4 ; python_version >= "3.12" and python_version < "3.13"
pytz==2024.2 ; python_version >= "3.12" and python_version < "3.13"
pyyaml==6.0.2 ; python_version >= "3.12" and python_version < "3.13"
referencing==0.35.1 ; python_version >= "3.12" and python_version < "3.13"
regex==2024.9.11 ; python_version >= "3.12" and python_version < "3.13"
requests-toolbelt==1.0.0 ; python_version >= "3.12" and python_version < "3.13"
requests==2.32.3 ; python_version >= "3.12" and python_version < "3.13"
rfc3339-validator==0.1.4 ; python_version >= "3.12" and python_version < "3.13"
rich-argparse==1.6.0 ; python_version >= "3.12" and python_version < "3.13"
rich==13.9.4 ; python_version >= "3.12" and python_version < "3.13"
rpds-py==0.21.0 ; python_version >= "3.12" and python_version < "3.13"
rsa==4.9 ; python_version >= "3.12" and python_version < "3.13"
scikit-image==0.24.0 ; python_version >= "3.12" and python_version < "3.13"
scikit-learn==1.5.2 ; python_version >= "3.12" and python_version < "3.13"
scipy==1.13.1 ; python_version >= "3.12" and python_version < "3.13"
setproctitle==1.3.3 ; python_version >= "3.12" and python_version < "3.13"
setuptools==75.3.0 ; python_version >= "3.12" and python_version < "3.13"
shapely==2.0.6 ; python_version >= "3.12" and python_version < "3.13"
six==1.16.0 ; python_version >= "3.12" and python_version < "3.13"
smart-open==7.0.5 ; python_version >= "3.12" and python_version < "3.13"
sniffio==1.3.1 ; python_version >= "3.12" and python_version < "3.13"
sortedcontainers==2.4.0 ; python_version >= "3.12" and python_version < "3.13"
soupsieve==2.6 ; python_version >= "3.12" and python_version < "3.13"
sqlalchemy-jsonfield==1.0.2 ; python_version >= "3.12" and python_version < "3.13"
sqlalchemy-utils==0.41.2 ; python_version >= "3.12" and python_version < "3.13"
sqlalchemy==1.4.54 ; python_version >= "3.12" and python_version < "3.13"
sqlparse==0.5.1 ; python_version >= "3.12" and python_version < "3.13"
stepic-bioinformatics @ https://github.com/StepicOrg/stepik-bioinformatics/archive/1.0.0.zip#egg=stepic-bioinformatics==1.0.0 ; python_version >= "3.12" and python_version < "3.13"
stepic-common @ https://github.com/StepicOrg/stepik-common/archive/1.0.0.zip#egg=stepic-common==1.0.0 ; python_version >= "3.12" and python_version < "3.13"
stepic-utils @ https://github.com/hyperskill/stepik-utils/archive/1.3.0.zip#egg=stepic-utils==1.3.0 ; python_version >= "3.12" and python_version < "3.13"
sumy==0.11.0 ; python_version >= "3.12" and python_version < "3.13"
sympy==1.13.3 ; python_version >= "3.12" and python_version < "3.13"
tabulate==0.9.0 ; python_version >= "3.12" and python_version < "3.13"
tenacity==9.0.0 ; python_version >= "3.12" and python_version < "3.13"
termcolor==2.5.0 ; python_version >= "3.12" and python_version < "3.13"
text-unidecode==1.3 ; python_version >= "3.12" and python_version < "3.13"
threadpoolctl==3.5.0 ; python_version >= "3.12" and python_version < "3.13"
tifffile==2024.9.20 ; python_version >= "3.12" and python_version < "3.13"
toolz==1.0.0 ; python_version >= "3.12" and python_version < "3.13"
tqdm==4.67.0 ; python_version >= "3.12" and python_version < "3.13"
typing-extensions==4.12.2 ; python_version >= "3.12" and python_version < "3.13"
tzdata==2024.2 ; python_version >= "3.12" and python_version < "3.13"
uc-micro-py==1.0.3 ; python_version >= "3.12" and python_version < "3.13"
universal-pathlib==0.2.5 ; python_version >= "3.12" and python_version < "3.13"
urllib3==2.2.3 ; python_version >= "3.12" and python_version < "3.13"
werkzeug==2.2.3 ; python_version >= "3.12" and python_version < "3.13"
wirerope==0.4.7 ; python_version >= "3.12" and python_version < "3.13"
wrapt==1.16.0 ; python_version >= "3.12" and python_version < "3.13"
wtforms==3.2.1 ; python_version >= "3.12" and python_version < "3.13"
yarl==1.17.1 ; python_version >= "3.12" and python_version < "3.13"
zipp==3.20.2 ; python_version >= "3.12" and python_version < "3.13"
