attrs==25.1.0
cython==3.0.12
execnet==2.1.1
fastjsonschema==2.21.1
iniconfig==2.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter-core==5.7.2
nbformat==5.10.4
numpy==2.2.3
platformdirs==4.3.6
pluggy==1.5.0
referencing==0.36.2
rpds-py==0.22.3
scipy==1.13.1
setuptools==75.8.0
smart_open==7.1.0
testfixtures==6.17.1
traitlets==5.14.3
typing-extensions==4.12.2
wheel==0.45.1
wrapt==1.17.2
