aiohappyeyeballs==2.4.3 ; python_version >= "3.11" and python_version < "3.12"
aiohttp==3.10.10 ; python_version >= "3.11" and python_version < "3.12"
aiosignal==1.3.1 ; python_version >= "3.11" and python_version < "3.12"
alembic==1.14.0 ; python_version >= "3.11" and python_version < "3.12"
anyio==4.6.2.post1 ; python_version >= "3.11" and python_version < "3.12"
apache-airflow-providers-common-compat==1.2.1 ; python_version >= "3.11" and python_version < "3.12"
apache-airflow-providers-common-io==1.4.2 ; python_version >= "3.11" and python_version < "3.12"
apache-airflow-providers-common-sql==1.19.0 ; python_version >= "3.11" and python_version < "3.12"
apache-airflow-providers-fab==1.5.0 ; python_version >= "3.11" and python_version < "3.12"
apache-airflow-providers-ftp==3.11.1 ; python_version >= "3.11" and python_version < "3.12"
apache-airflow-providers-http==4.13.2 ; python_version >= "3.11" and python_version < "3.12"
apache-airflow-providers-imap==3.7.0 ; python_version >= "3.11" and python_version < "3.12"
apache-airflow-providers-smtp==1.8.0 ; python_version >= "3.11" and python_version < "3.12"
apache-airflow-providers-sqlite==3.9.0 ; python_version >= "3.11" and python_version < "3.12"
apache-airflow==2.10.3 ; python_version >= "3.11" and python_version < "3.12"
apispec[yaml]==6.7.1 ; python_version >= "3.11" and python_version < "3.12"
argcomplete==3.5.1 ; python_version >= "3.11" and python_version < "3.12"
asgiref==3.8.1 ; python_version >= "3.11" and python_version < "3.12"
attrs==24.2.0 ; python_version >= "3.11" and python_version < "3.12"
babel==2.16.0 ; python_version >= "3.11" and python_version < "3.12"
beautifulsoup4==4.12.3 ; python_version >= "3.11" and python_version < "3.12"
biopython==1.84 ; python_version >= "3.11" and python_version < "3.12"
blinker==1.8.2 ; python_version >= "3.11" and python_version < "3.12"
breadability==0.1.20 ; python_version >= "3.11" and python_version < "3.12"
cachelib==0.9.0 ; python_version >= "3.11" and python_version < "3.12"
certifi==2024.8.30 ; python_version >= "3.11" and python_version < "3.12"
cffi==1.15.1 ; python_version >= "3.11" and python_version < "3.12"
chardet==5.2.0 ; python_version >= "3.11" and python_version < "3.12"
charset-normalizer==3.4.0 ; python_version >= "3.11" and python_version < "3.12"
click==8.1.7 ; python_version >= "3.11" and python_version < "3.12"
clickclick==20.10.2 ; python_version >= "3.11" and python_version < "3.12"
colorama==0.4.6 ; python_version >= "3.11" and python_version < "3.12"
colorlog==6.9.0 ; python_version >= "3.11" and python_version < "3.12"
configupdater==3.2 ; python_version >= "3.11" and python_version < "3.12"
connexion[flask]==2.14.2 ; python_version >= "3.11" and python_version < "3.12"
contourpy==1.3.0 ; python_version >= "3.11" and python_version < "3.12"
cron-descriptor==1.4.5 ; python_version >= "3.11" and python_version < "3.12"
croniter==5.0.1 ; python_version >= "3.11" and python_version < "3.12"
cryptography==43.0.3 ; python_version >= "3.11" and python_version < "3.12"
cycler==0.12.1 ; python_version >= "3.11" and python_version < "3.12"
cython==3.0.11 ; python_version >= "3.11" and python_version < "3.12"
dawg-python==0.7.2 ; python_version >= "3.11" and python_version < "3.12"
deprecated==1.2.14 ; python_version >= "3.11" and python_version < "3.12"
dill==0.3.9 ; python_version >= "3.11" and python_version < "3.12"
django==5.1.3 ; python_version >= "3.11" and python_version < "3.12"
djangorestframework==3.15.2 ; python_version >= "3.11" and python_version < "3.12"
dnspython==2.7.0 ; python_version >= "3.11" and python_version < "3.12"
docopt==0.6.2 ; python_version >= "3.11" and python_version < "3.12"
email-validator==2.2.0 ; python_version >= "3.11" and python_version < "3.12"
factory-boy==3.3.1 ; python_version >= "3.11" and python_version < "3.12"
faker==30.8.2 ; python_version >= "3.11" and python_version < "3.12"
fasttext==0.9.3 ; python_version >= "3.11" and python_version < "3.12"
flask-appbuilder==4.5.2 ; python_version >= "3.11" and python_version < "3.12"
flask-babel==2.0.0 ; python_version >= "3.11" and python_version < "3.12"
flask-caching==2.3.0 ; python_version >= "3.11" and python_version < "3.12"
flask-jwt-extended==4.6.0 ; python_version >= "3.11" and python_version < "3.12"
flask-limiter==3.8.0 ; python_version >= "3.11" and python_version < "3.12"
flask-login==0.6.3 ; python_version >= "3.11" and python_version < "3.12"
flask-session==0.5.0 ; python_version >= "3.11" and python_version < "3.12"
flask-sqlalchemy==2.5.1 ; python_version >= "3.11" and python_version < "3.12"
flask-wtf==1.2.2 ; python_version >= "3.11" and python_version < "3.12"
flask==2.2.5 ; python_version >= "3.11" and python_version < "3.12"
fonttools==4.54.1 ; python_version >= "3.11" and python_version < "3.12"
frozenlist==1.5.0 ; python_version >= "3.11" and python_version < "3.12"
fsspec==2024.10.0 ; python_version >= "3.11" and python_version < "3.12"
gensim==4.3.3 ; python_version >= "3.11" and python_version < "3.12"
google-re2==1.1.20240702 ; python_version >= "3.11" and python_version < "3.12"
googleapis-common-protos==1.65.0 ; python_version >= "3.11" and python_version < "3.12"
greenlet==3.1.1 ; python_version >= "3.11" and (platform_machine == "aarch64" or platform_machine == "ppc64le" or platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "AMD64" or platform_machine == "win32" or platform_machine == "WIN32") and python_version < "3.12"
grpcio==1.67.1 ; python_version >= "3.11" and python_version < "3.12"
gunicorn==23.0.0 ; python_version >= "3.11" and python_version < "3.12"
h11==0.14.0 ; python_version >= "3.11" and python_version < "3.12"
httpcore==1.0.6 ; python_version >= "3.11" and python_version < "3.12"
httpx==0.27.2 ; python_version >= "3.11" and python_version < "3.12"
hypothesis==6.116.0 ; python_version >= "3.11" and python_version < "3.12"
idna==3.10 ; python_version >= "3.11" and python_version < "3.12"
imageio==2.36.0 ; python_version >= "3.11" and python_version < "3.12"
importlib-metadata==8.5.0 ; python_version >= "3.11" and python_version < "3.12"
importlib-resources==6.4.5 ; python_version >= "3.11" and python_version < "3.12"
inflection==0.5.1 ; python_version >= "3.11" and python_version < "3.12"
iniconfig==2.0.0 ; python_version >= "3.11" and python_version < "3.12"
itsdangerous==2.2.0 ; python_version >= "3.11" and python_version < "3.12"
jinja2==3.1.4 ; python_version >= "3.11" and python_version < "3.12"
jmespath==1.0.1 ; python_version >= "3.11" and python_version < "3.12"
joblib==1.4.2 ; python_version >= "3.11" and python_version < "3.12"
jsonschema-specifications==2024.10.1 ; python_version >= "3.11" and python_version < "3.12"
jsonschema==4.23.0 ; python_version >= "3.11" and python_version < "3.12"
kiwisolver==1.4.7 ; python_version >= "3.11" and python_version < "3.12"
lazy-loader==0.4 ; python_version >= "3.11" and python_version < "3.12"
lazy-object-proxy==1.10.0 ; python_version >= "3.11" and python_version < "3.12"
limits==3.13.0 ; python_version >= "3.11" and python_version < "3.12"
linkify-it-py==2.0.3 ; python_version >= "3.11" and python_version < "3.12"
lockfile==0.12.2 ; python_version >= "3.11" and python_version < "3.12"
lxml==5.3.0 ; python_version >= "3.11" and python_version < "3.12"
mako==1.3.6 ; python_version >= "3.11" and python_version < "3.12"
markdown-it-py==3.0.0 ; python_version >= "3.11" and python_version < "3.12"
markupsafe==3.0.2 ; python_version >= "3.11" and python_version < "3.12"
marshmallow-oneofschema==3.1.1 ; python_version >= "3.11" and python_version < "3.12"
marshmallow-sqlalchemy==0.28.2 ; python_version >= "3.11" and python_version < "3.12"
marshmallow==3.23.1 ; python_version >= "3.11" and python_version < "3.12"
matplotlib==3.9.2 ; python_version >= "3.11" and python_version < "3.12"
mdit-py-plugins==0.4.2 ; python_version >= "3.11" and python_version < "3.12"
mdurl==0.1.2 ; python_version >= "3.11" and python_version < "3.12"
methodtools==0.4.7 ; python_version >= "3.11" and python_version < "3.12"
mip==1.15.0 ; python_version >= "3.11" and python_version < "3.12"
more-itertools==10.5.0 ; python_version >= "3.11" and python_version < "3.12"
mpmath==1.3.0 ; python_version >= "3.11" and python_version < "3.12"
multidict==6.1.0 ; python_version >= "3.11" and python_version < "3.12"
myhdl==0.11.49 ; python_version >= "3.11" and python_version < "3.12"
mysqlclient==2.2.5 ; python_version >= "3.11" and python_version < "3.12"
networkx==3.4.2 ; python_version >= "3.11" and python_version < "3.12"
nltk==3.9.1 ; python_version >= "3.11" and python_version < "3.12"
numpy==1.26.4 ; python_version >= "3.11" and python_version < "3.12"
opencv-python-headless==4.10.0.84 ; python_version >= "3.11" and python_version < "3.12"
opentelemetry-api==1.28.0 ; python_version >= "3.11" and python_version < "3.12"
opentelemetry-exporter-otlp-proto-common==1.28.0 ; python_version >= "3.11" and python_version < "3.12"
opentelemetry-exporter-otlp-proto-grpc==1.28.0 ; python_version >= "3.11" and python_version < "3.12"
opentelemetry-exporter-otlp-proto-http==1.28.0 ; python_version >= "3.11" and python_version < "3.12"
opentelemetry-exporter-otlp==1.28.0 ; python_version >= "3.11" and python_version < "3.12"
opentelemetry-proto==1.28.0 ; python_version >= "3.11" and python_version < "3.12"
opentelemetry-sdk==1.28.0 ; python_version >= "3.11" and python_version < "3.12"
opentelemetry-semantic-conventions==0.49b0 ; python_version >= "3.11" and python_version < "3.12"
ordered-set==4.1.0 ; python_version >= "3.11" and python_version < "3.12"
packaging==24.1 ; python_version >= "3.11" and python_version < "3.12"
pandas==2.2.3 ; python_version >= "3.11" and python_version < "3.12"
pathspec==0.12.1 ; python_version >= "3.11" and python_version < "3.12"
pendulum==3.0.0 ; python_version >= "3.11" and python_version < "3.12"
pillow==11.0.0 ; python_version >= "3.11" and python_version < "3.12"
pluggy==1.5.0 ; python_version >= "3.11" and python_version < "3.12"
prison==0.2.1 ; python_version >= "3.11" and python_version < "3.12"
propcache==0.2.0 ; python_version >= "3.11" and python_version < "3.12"
protobuf==5.28.3 ; python_version >= "3.11" and python_version < "3.12"
psutil==6.1.0 ; python_version >= "3.11" and python_version < "3.12"
pyasn1==0.6.1 ; python_version >= "3.11" and python_version < "3.12"
pybind11==2.13.6 ; python_version >= "3.11" and python_version < "3.12"
pycosat==0.6.6 ; python_version >= "3.11" and python_version < "3.12"
pycountry==24.6.1 ; python_version >= "3.11" and python_version < "3.12"
pycparser==2.22 ; python_version >= "3.11" and python_version < "3.12"
pygments==2.18.0 ; python_version >= "3.11" and python_version < "3.12"
pyjwt==2.9.0 ; python_version >= "3.11" and python_version < "3.12"
pymorphy2-dicts-ru==2.4.417127.4579844 ; python_version >= "3.11" and python_version < "3.12"
pymorphy2==0.9.1 ; python_version >= "3.11" and python_version < "3.12"
pymystem3==0.2.0 ; python_version >= "3.11" and python_version < "3.12"
pyparsing==3.2.0 ; python_version >= "3.11" and python_version < "3.12"
pysqlite3-binary==0.5.4 ; python_version >= "3.11" and python_version < "3.12"
pytest==8.3.3 ; python_version >= "3.11" and python_version < "3.12"
python-daemon==3.1.0 ; python_version >= "3.11" and python_version < "3.12"
python-dateutil==2.9.0.post0 ; python_version >= "3.11" and python_version < "3.12"
python-nvd3==0.16.0 ; python_version >= "3.11" and python_version < "3.12"
python-slugify==8.0.4 ; python_version >= "3.11" and python_version < "3.12"
pytz==2024.2 ; python_version >= "3.11" and python_version < "3.12"
pyyaml==6.0.2 ; python_version >= "3.11" and python_version < "3.12"
referencing==0.35.1 ; python_version >= "3.11" and python_version < "3.12"
regex==2024.9.11 ; python_version >= "3.11" and python_version < "3.12"
requests-toolbelt==1.0.0 ; python_version >= "3.11" and python_version < "3.12"
requests==2.32.3 ; python_version >= "3.11" and python_version < "3.12"
rfc3339-validator==0.1.4 ; python_version >= "3.11" and python_version < "3.12"
rich-argparse==1.6.0 ; python_version >= "3.11" and python_version < "3.12"
rich==13.9.4 ; python_version >= "3.11" and python_version < "3.12"
rpds-py==0.21.0 ; python_version >= "3.11" and python_version < "3.12"
rsa==4.9 ; python_version >= "3.11" and python_version < "3.12"
scikit-image==0.24.0 ; python_version >= "3.11" and python_version < "3.12"
scikit-learn==1.5.2 ; python_version >= "3.11" and python_version < "3.12"
scipy==1.13.1 ; python_version >= "3.11" and python_version < "3.12"
setproctitle==1.3.3 ; python_version >= "3.11" and python_version < "3.12"
setuptools==75.3.0 ; python_version >= "3.11" and python_version < "3.12"
shapely==2.0.6 ; python_version >= "3.11" and python_version < "3.12"
six==1.16.0 ; python_version >= "3.11" and python_version < "3.12"
smart-open==7.0.5 ; python_version >= "3.11" and python_version < "3.12"
sniffio==1.3.1 ; python_version >= "3.11" and python_version < "3.12"
sortedcontainers==2.4.0 ; python_version >= "3.11" and python_version < "3.12"
soupsieve==2.6 ; python_version >= "3.11" and python_version < "3.12"
sqlalchemy-jsonfield==1.0.2 ; python_version >= "3.11" and python_version < "3.12"
sqlalchemy-utils==0.41.2 ; python_version >= "3.11" and python_version < "3.12"
sqlalchemy==1.4.54 ; python_version >= "3.11" and python_version < "3.12"
sqlparse==0.5.1 ; python_version >= "3.11" and python_version < "3.12"
stepic-bioinformatics @ https://github.com/StepicOrg/stepik-bioinformatics/archive/1.0.0.zip#egg=stepic-bioinformatics==1.0.0 ; python_version >= "3.11" and python_version < "3.12"
stepic-common @ https://github.com/StepicOrg/stepik-common/archive/1.0.0.zip#egg=stepic-common==1.0.0 ; python_version >= "3.11" and python_version < "3.12"
stepic-utils @ https://github.com/hyperskill/stepik-utils/archive/1.3.0.zip#egg=stepic-utils==1.3.0 ; python_version >= "3.11" and python_version < "3.12"
sumy==0.11.0 ; python_version >= "3.11" and python_version < "3.12"
sympy==1.13.3 ; python_version >= "3.11" and python_version < "3.12"
tabulate==0.9.0 ; python_version >= "3.11" and python_version < "3.12"
tenacity==9.0.0 ; python_version >= "3.11" and python_version < "3.12"
termcolor==2.5.0 ; python_version >= "3.11" and python_version < "3.12"
text-unidecode==1.3 ; python_version >= "3.11" and python_version < "3.12"
threadpoolctl==3.5.0 ; python_version >= "3.11" and python_version < "3.12"
tifffile==2024.9.20 ; python_version >= "3.11" and python_version < "3.12"
toolz==1.0.0 ; python_version >= "3.11" and python_version < "3.12"
tqdm==4.67.0 ; python_version >= "3.11" and python_version < "3.12"
typing-extensions==4.12.2 ; python_version >= "3.11" and python_version < "3.12"
tzdata==2024.2 ; python_version >= "3.11" and python_version < "3.12"
uc-micro-py==1.0.3 ; python_version >= "3.11" and python_version < "3.12"
universal-pathlib==0.2.5 ; python_version >= "3.11" and python_version < "3.12"
urllib3==2.2.3 ; python_version >= "3.11" and python_version < "3.12"
werkzeug==2.2.3 ; python_version >= "3.11" and python_version < "3.12"
wirerope==0.4.7 ; python_version >= "3.11" and python_version < "3.12"
wrapt==1.16.0 ; python_version >= "3.11" and python_version < "3.12"
wtforms==3.2.1 ; python_version >= "3.11" and python_version < "3.12"
yarl==1.17.1 ; python_version >= "3.11" and python_version < "3.12"
zipp==3.20.2 ; python_version >= "3.11" and python_version < "3.12"
