aiohappyeyeballs==2.4.3 ; python_version >= "3.10" and python_version < "3.11"
aiohttp==3.10.10 ; python_version >= "3.10" and python_version < "3.11"
aiosignal==1.3.1 ; python_version >= "3.10" and python_version < "3.11"
alembic==1.14.0 ; python_version >= "3.10" and python_version < "3.11"
anyio==4.6.2.post1 ; python_version >= "3.10" and python_version < "3.11"
apache-airflow-providers-common-compat==1.2.1 ; python_version >= "3.10" and python_version < "3.11"
apache-airflow-providers-common-io==1.4.2 ; python_version >= "3.10" and python_version < "3.11"
apache-airflow-providers-common-sql==1.19.0 ; python_version >= "3.10" and python_version < "3.11"
apache-airflow-providers-fab==1.5.0 ; python_version >= "3.10" and python_version < "3.11"
apache-airflow-providers-ftp==3.11.1 ; python_version >= "3.10" and python_version < "3.11"
apache-airflow-providers-http==4.13.2 ; python_version >= "3.10" and python_version < "3.11"
apache-airflow-providers-imap==3.7.0 ; python_version >= "3.10" and python_version < "3.11"
apache-airflow-providers-smtp==1.8.0 ; python_version >= "3.10" and python_version < "3.11"
apache-airflow-providers-sqlite==3.9.0 ; python_version >= "3.10" and python_version < "3.11"
apache-airflow==2.10.3 ; python_version >= "3.10" and python_version < "3.11"
apispec[yaml]==6.7.1 ; python_version >= "3.10" and python_version < "3.11"
argcomplete==3.5.1 ; python_version >= "3.10" and python_version < "3.11"
asgiref==3.8.1 ; python_version >= "3.10" and python_version < "3.11"
async-timeout==4.0.3 ; python_version >= "3.10" and python_version < "3.11"
attrs==24.2.0 ; python_version >= "3.10" and python_version < "3.11"
babel==2.16.0 ; python_version >= "3.10" and python_version < "3.11"
beautifulsoup4==4.12.3 ; python_version >= "3.10" and python_version < "3.11"
biopython==1.84 ; python_version >= "3.10" and python_version < "3.11"
blinker==1.8.2 ; python_version >= "3.10" and python_version < "3.11"
breadability==0.1.20 ; python_version >= "3.10" and python_version < "3.11"
cachelib==0.9.0 ; python_version >= "3.10" and python_version < "3.11"
certifi==2024.8.30 ; python_version >= "3.10" and python_version < "3.11"
cffi==1.15.1 ; python_version >= "3.10" and python_version < "3.11"
chardet==5.2.0 ; python_version >= "3.10" and python_version < "3.11"
charset-normalizer==3.4.0 ; python_version >= "3.10" and python_version < "3.11"
click==8.1.7 ; python_version >= "3.10" and python_version < "3.11"
clickclick==20.10.2 ; python_version >= "3.10" and python_version < "3.11"
colorama==0.4.6 ; python_version >= "3.10" and python_version < "3.11"
colorlog==6.9.0 ; python_version >= "3.10" and python_version < "3.11"
configupdater==3.2 ; python_version >= "3.10" and python_version < "3.11"
connexion[flask]==2.14.2 ; python_version >= "3.10" and python_version < "3.11"
contourpy==1.3.0 ; python_version >= "3.10" and python_version < "3.11"
cron-descriptor==1.4.5 ; python_version >= "3.10" and python_version < "3.11"
croniter==5.0.1 ; python_version >= "3.10" and python_version < "3.11"
cryptography==43.0.3 ; python_version >= "3.10" and python_version < "3.11"
cycler==0.12.1 ; python_version >= "3.10" and python_version < "3.11"
cython==3.0.11 ; python_version >= "3.10" and python_version < "3.11"
dawg-python==0.7.2 ; python_version >= "3.10" and python_version < "3.11"
deprecated==1.2.14 ; python_version >= "3.10" and python_version < "3.11"
dill==0.3.9 ; python_version >= "3.10" and python_version < "3.11"
django==5.1.3 ; python_version >= "3.10" and python_version < "3.11"
djangorestframework==3.15.2 ; python_version >= "3.10" and python_version < "3.11"
dnspython==2.7.0 ; python_version >= "3.10" and python_version < "3.11"
docopt==0.6.2 ; python_version >= "3.10" and python_version < "3.11"
email-validator==2.2.0 ; python_version >= "3.10" and python_version < "3.11"
exceptiongroup==1.2.2 ; python_version >= "3.10" and python_version < "3.11"
factory-boy==3.3.1 ; python_version >= "3.10" and python_version < "3.11"
faker==30.8.2 ; python_version >= "3.10" and python_version < "3.11"
fasttext==0.9.3 ; python_version >= "3.10" and python_version < "3.11"
flask-appbuilder==4.5.2 ; python_version >= "3.10" and python_version < "3.11"
flask-babel==2.0.0 ; python_version >= "3.10" and python_version < "3.11"
flask-caching==2.3.0 ; python_version >= "3.10" and python_version < "3.11"
flask-jwt-extended==4.6.0 ; python_version >= "3.10" and python_version < "3.11"
flask-limiter==3.8.0 ; python_version >= "3.10" and python_version < "3.11"
flask-login==0.6.3 ; python_version >= "3.10" and python_version < "3.11"
flask-session==0.5.0 ; python_version >= "3.10" and python_version < "3.11"
flask-sqlalchemy==2.5.1 ; python_version >= "3.10" and python_version < "3.11"
flask-wtf==1.2.2 ; python_version >= "3.10" and python_version < "3.11"
flask==2.2.5 ; python_version >= "3.10" and python_version < "3.11"
fonttools==4.54.1 ; python_version >= "3.10" and python_version < "3.11"
frozenlist==1.5.0 ; python_version >= "3.10" and python_version < "3.11"
fsspec==2024.10.0 ; python_version >= "3.10" and python_version < "3.11"
gensim==4.3.3 ; python_version >= "3.10" and python_version < "3.11"
google-re2==1.1.20240702 ; python_version >= "3.10" and python_version < "3.11"
googleapis-common-protos==1.65.0 ; python_version >= "3.10" and python_version < "3.11"
greenlet==3.1.1 ; python_version >= "3.10" and (platform_machine == "aarch64" or platform_machine == "ppc64le" or platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "AMD64" or platform_machine == "win32" or platform_machine == "WIN32") and python_version < "3.11"
grpcio==1.67.1 ; python_version >= "3.10" and python_version < "3.11"
gunicorn==23.0.0 ; python_version >= "3.10" and python_version < "3.11"
h11==0.14.0 ; python_version >= "3.10" and python_version < "3.11"
httpcore==1.0.6 ; python_version >= "3.10" and python_version < "3.11"
httpx==0.27.2 ; python_version >= "3.10" and python_version < "3.11"
hypothesis==6.116.0 ; python_version >= "3.10" and python_version < "3.11"
idna==3.10 ; python_version >= "3.10" and python_version < "3.11"
imageio==2.36.0 ; python_version >= "3.10" and python_version < "3.11"
importlib-metadata==8.5.0 ; python_version >= "3.10" and python_version < "3.11"
importlib-resources==6.4.5 ; python_version >= "3.10" and python_version < "3.11"
inflection==0.5.1 ; python_version >= "3.10" and python_version < "3.11"
iniconfig==2.0.0 ; python_version >= "3.10" and python_version < "3.11"
itsdangerous==2.2.0 ; python_version >= "3.10" and python_version < "3.11"
jinja2==3.1.4 ; python_version >= "3.10" and python_version < "3.11"
jmespath==1.0.1 ; python_version >= "3.10" and python_version < "3.11"
joblib==1.4.2 ; python_version >= "3.10" and python_version < "3.11"
jsonschema-specifications==2024.10.1 ; python_version >= "3.10" and python_version < "3.11"
jsonschema==4.23.0 ; python_version >= "3.10" and python_version < "3.11"
kiwisolver==1.4.7 ; python_version >= "3.10" and python_version < "3.11"
lazy-loader==0.4 ; python_version >= "3.10" and python_version < "3.11"
lazy-object-proxy==1.10.0 ; python_version >= "3.10" and python_version < "3.11"
limits==3.13.0 ; python_version >= "3.10" and python_version < "3.11"
linkify-it-py==2.0.3 ; python_version >= "3.10" and python_version < "3.11"
lockfile==0.12.2 ; python_version >= "3.10" and python_version < "3.11"
lxml==5.3.0 ; python_version >= "3.10" and python_version < "3.11"
mako==1.3.6 ; python_version >= "3.10" and python_version < "3.11"
markdown-it-py==3.0.0 ; python_version >= "3.10" and python_version < "3.11"
markupsafe==3.0.2 ; python_version >= "3.10" and python_version < "3.11"
marshmallow-oneofschema==3.1.1 ; python_version >= "3.10" and python_version < "3.11"
marshmallow-sqlalchemy==0.28.2 ; python_version >= "3.10" and python_version < "3.11"
marshmallow==3.23.1 ; python_version >= "3.10" and python_version < "3.11"
matplotlib==3.9.2 ; python_version >= "3.10" and python_version < "3.11"
mdit-py-plugins==0.4.2 ; python_version >= "3.10" and python_version < "3.11"
mdurl==0.1.2 ; python_version >= "3.10" and python_version < "3.11"
methodtools==0.4.7 ; python_version >= "3.10" and python_version < "3.11"
mip==1.15.0 ; python_version >= "3.10" and python_version < "3.11"
more-itertools==10.5.0 ; python_version >= "3.10" and python_version < "3.11"
mpmath==1.3.0 ; python_version >= "3.10" and python_version < "3.11"
multidict==6.1.0 ; python_version >= "3.10" and python_version < "3.11"
myhdl==0.11.49 ; python_version >= "3.10" and python_version < "3.11"
mysqlclient==2.2.5 ; python_version >= "3.10" and python_version < "3.11"
networkx==3.4.2 ; python_version >= "3.10" and python_version < "3.11"
nltk==3.9.1 ; python_version >= "3.10" and python_version < "3.11"
numpy==1.26.4 ; python_version >= "3.10" and python_version < "3.11"
opencv-python-headless==4.10.0.84 ; python_version >= "3.10" and python_version < "3.11"
opentelemetry-api==1.28.0 ; python_version >= "3.10" and python_version < "3.11"
opentelemetry-exporter-otlp-proto-common==1.28.0 ; python_version >= "3.10" and python_version < "3.11"
opentelemetry-exporter-otlp-proto-grpc==1.28.0 ; python_version >= "3.10" and python_version < "3.11"
opentelemetry-exporter-otlp-proto-http==1.28.0 ; python_version >= "3.10" and python_version < "3.11"
opentelemetry-exporter-otlp==1.28.0 ; python_version >= "3.10" and python_version < "3.11"
opentelemetry-proto==1.28.0 ; python_version >= "3.10" and python_version < "3.11"
opentelemetry-sdk==1.28.0 ; python_version >= "3.10" and python_version < "3.11"
opentelemetry-semantic-conventions==0.49b0 ; python_version >= "3.10" and python_version < "3.11"
ordered-set==4.1.0 ; python_version >= "3.10" and python_version < "3.11"
packaging==24.1 ; python_version >= "3.10" and python_version < "3.11"
pandas==2.2.3 ; python_version >= "3.10" and python_version < "3.11"
pathspec==0.12.1 ; python_version >= "3.10" and python_version < "3.11"
pendulum==3.0.0 ; python_version >= "3.10" and python_version < "3.11"
pillow==11.0.0 ; python_version >= "3.10" and python_version < "3.11"
pluggy==1.5.0 ; python_version >= "3.10" and python_version < "3.11"
prison==0.2.1 ; python_version >= "3.10" and python_version < "3.11"
propcache==0.2.0 ; python_version >= "3.10" and python_version < "3.11"
protobuf==5.28.3 ; python_version >= "3.10" and python_version < "3.11"
psutil==6.1.0 ; python_version >= "3.10" and python_version < "3.11"
pyasn1==0.6.1 ; python_version >= "3.10" and python_version < "3.11"
pybind11==2.13.6 ; python_version >= "3.10" and python_version < "3.11"
pycosat==0.6.6 ; python_version >= "3.10" and python_version < "3.11"
pycountry==24.6.1 ; python_version >= "3.10" and python_version < "3.11"
pycparser==2.22 ; python_version >= "3.10" and python_version < "3.11"
pygments==2.18.0 ; python_version >= "3.10" and python_version < "3.11"
pyjwt==2.9.0 ; python_version >= "3.10" and python_version < "3.11"
pymorphy2-dicts-ru==2.4.417127.4579844 ; python_version >= "3.10" and python_version < "3.11"
pymorphy2==0.9.1 ; python_version >= "3.10" and python_version < "3.11"
pymystem3==0.2.0 ; python_version >= "3.10" and python_version < "3.11"
pyparsing==3.2.0 ; python_version >= "3.10" and python_version < "3.11"
pysqlite3-binary==0.5.4 ; python_version >= "3.10" and python_version < "3.11"
pytest==8.3.3 ; python_version >= "3.10" and python_version < "3.11"
python-daemon==3.1.0 ; python_version >= "3.10" and python_version < "3.11"
python-dateutil==2.9.0.post0 ; python_version >= "3.10" and python_version < "3.11"
python-nvd3==0.16.0 ; python_version >= "3.10" and python_version < "3.11"
python-slugify==8.0.4 ; python_version >= "3.10" and python_version < "3.11"
pytz==2024.2 ; python_version >= "3.10" and python_version < "3.11"
pyyaml==6.0.2 ; python_version >= "3.10" and python_version < "3.11"
referencing==0.35.1 ; python_version >= "3.10" and python_version < "3.11"
regex==2024.9.11 ; python_version >= "3.10" and python_version < "3.11"
requests-toolbelt==1.0.0 ; python_version >= "3.10" and python_version < "3.11"
requests==2.32.3 ; python_version >= "3.10" and python_version < "3.11"
rfc3339-validator==0.1.4 ; python_version >= "3.10" and python_version < "3.11"
rich-argparse==1.6.0 ; python_version >= "3.10" and python_version < "3.11"
rich==13.9.4 ; python_version >= "3.10" and python_version < "3.11"
rpds-py==0.21.0 ; python_version >= "3.10" and python_version < "3.11"
rsa==4.9 ; python_version >= "3.10" and python_version < "3.11"
scikit-image==0.24.0 ; python_version >= "3.10" and python_version < "3.11"
scikit-learn==1.5.2 ; python_version >= "3.10" and python_version < "3.11"
scipy==1.13.1 ; python_version >= "3.10" and python_version < "3.11"
setproctitle==1.3.3 ; python_version >= "3.10" and python_version < "3.11"
setuptools==75.3.0 ; python_version >= "3.10" and python_version < "3.11"
shapely==2.0.6 ; python_version >= "3.10" and python_version < "3.11"
six==1.16.0 ; python_version >= "3.10" and python_version < "3.11"
smart-open==7.0.5 ; python_version >= "3.10" and python_version < "3.11"
sniffio==1.3.1 ; python_version >= "3.10" and python_version < "3.11"
sortedcontainers==2.4.0 ; python_version >= "3.10" and python_version < "3.11"
soupsieve==2.6 ; python_version >= "3.10" and python_version < "3.11"
sqlalchemy-jsonfield==1.0.2 ; python_version >= "3.10" and python_version < "3.11"
sqlalchemy-utils==0.41.2 ; python_version >= "3.10" and python_version < "3.11"
sqlalchemy==1.4.54 ; python_version >= "3.10" and python_version < "3.11"
sqlparse==0.5.1 ; python_version >= "3.10" and python_version < "3.11"
stepic-bioinformatics @ https://github.com/StepicOrg/stepik-bioinformatics/archive/1.0.0.zip#egg=stepic-bioinformatics==1.0.0 ; python_version >= "3.10" and python_version < "3.11"
stepic-common @ https://github.com/StepicOrg/stepik-common/archive/1.0.0.zip#egg=stepic-common==1.0.0 ; python_version >= "3.10" and python_version < "3.11"
stepic-utils @ https://github.com/hyperskill/stepik-utils/archive/1.3.0.zip#egg=stepic-utils==1.3.0 ; python_version >= "3.10" and python_version < "3.11"
sumy==0.11.0 ; python_version >= "3.10" and python_version < "3.11"
sympy==1.13.3 ; python_version >= "3.10" and python_version < "3.11"
tabulate==0.9.0 ; python_version >= "3.10" and python_version < "3.11"
tenacity==9.0.0 ; python_version >= "3.10" and python_version < "3.11"
termcolor==2.5.0 ; python_version >= "3.10" and python_version < "3.11"
text-unidecode==1.3 ; python_version >= "3.10" and python_version < "3.11"
threadpoolctl==3.5.0 ; python_version >= "3.10" and python_version < "3.11"
tifffile==2024.9.20 ; python_version >= "3.10" and python_version < "3.11"
tomli==2.0.2 ; python_version >= "3.10" and python_version < "3.11"
toolz==1.0.0 ; python_version >= "3.10" and python_version < "3.11"
tqdm==4.67.0 ; python_version >= "3.10" and python_version < "3.11"
typing-extensions==4.12.2 ; python_version >= "3.10" and python_version < "3.11"
tzdata==2024.2 ; python_version >= "3.10" and python_version < "3.11"
uc-micro-py==1.0.3 ; python_version >= "3.10" and python_version < "3.11"
universal-pathlib==0.2.5 ; python_version >= "3.10" and python_version < "3.11"
urllib3==2.2.3 ; python_version >= "3.10" and python_version < "3.11"
werkzeug==2.2.3 ; python_version >= "3.10" and python_version < "3.11"
wirerope==0.4.7 ; python_version >= "3.10" and python_version < "3.11"
wrapt==1.16.0 ; python_version >= "3.10" and python_version < "3.11"
wtforms==3.2.1 ; python_version >= "3.10" and python_version < "3.11"
yarl==1.17.1 ; python_version >= "3.10" and python_version < "3.11"
zipp==3.20.2 ; python_version >= "3.10" and python_version < "3.11"
